/* start variables  */
:root {
    --main-color: #616161;
    --background-color: #EAEAEA;
    --color-header-text: #252A34;
    --circle-color: #FF2E63;
    --btn-color: #08D9D6;
    --padding: 100px 0;
    --test-color: #08d918;
    --color-header-text-two: #FF2E63;
}
/* End variables  */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}

/* End Global Rules */

/* start components */

/* end components */
/* --------------------------------------------------------------------------------------------------------- */
/* Start header */
header {
    padding: var(--padding);
    position: relative;
    background-color: white;
    z-index: 1;
}
header .container {
    display: flex;
    align-items: center;
}

header .logo {
    width: 16%;
}
header .logo img {
    height: 54px;
    justify-content: center;
}

header::after {
    content: url(../images/big\ ellipse\ .png);
    position: absolute;
    top: 50%;
    right: -403px;
    transform: translatey(-50%);
    width: 820px;
    z-index: -1;
}

nav {
    flex: 1;
    display: flex ;
    justify-content: space-between ;
    align-items: center;
    position: relative;
    width: calc(100% - 16%);
}

nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 53px;
}

nav a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    color: #FF2E63;
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.main-btn {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: #FF2E63;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    box-shadow: -3px 6px 10px #01010133;
    height: 63px;
    padding: 0 45px;
}

.main-btn:hover {
    background-color: #ff4c79;
    color: white;
    box-shadow: 0px 8px 15px #01010155;
    transform: translateY(-3px);
}



/* End header */
/* --------------------------------------------------------------------------------------------------------- */
/* Statr home */

.home {
    padding: 100px 0;
    width: 100%;
    position: relative;
    /* background-color: white; */
}

.home .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.home .container img:last-of-type {
    position: absolute;
    width: 350px;
    bottom: -95%;
    left: -25%;
}

.home .box {
    width: 50%;
}
.home .box h1 {
    font-size: 44px;
    color: #252A34;
    font-weight: bold;
    position: relative;
    padding-right: 179px;
}

.home .box h1::before {
    content: "";
    position: absolute;
    bottom: -65px;
    width: 20%;
    height: 7px;
    background-color: #FF2E63;
}

.home .box p {
    margin-top: 87px;
    font-size: 25px;
    font-weight: 500;
    color: #878787;
    padding-right: 54px;
}

.home .box .btn {
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #08D9D6;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: -3px 6px 10px #01010133;
    height: 70px;
    padding: 0 45px;
    position: relative;
    z-index: 3;
}

.home .box .btn:hover {
    background-color: #04a3a2;
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px #01010155;
}


.home .image {
    width: 50%;
    z-index: 1;
}

.home img {
    width: 100%;
}

/* End home */
/* --------------------------------------------------------------------------------------------------------- */
/* Start services */
.services {
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: white;
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 5%;
    position: relative;
}

.services .image {
    width: 100%;
}

.services .image img {
    width: 100%;
}

.services .box {
    display: block;
    max-height: 100%;
}

.services .box h1 {
    font-size: 44px;
    color: var(--color-header-text-two);
    font-weight: bold;
    position: relative;
    padding-right: 100px;
}

.services .box h1::before {
    content: "";
    position: absolute;
    bottom: -110px;
    width: 20%;
    height: 7px;
    background-color: var(--color-header-text);
}

.services .box p {
    margin-top: 165px;
    font-size: 25px;
    font-weight: 500;
    color: #878787;
}


.services .box .btn {
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: var(--color-header-text);
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(1, 1, 1, 0.2) -3px 6px 10px;
    height: 70px;
    padding: 0px 45px;
}

.services .box .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(1, 1, 1, 0.3);
}


/* End services */

/* Start Portfolio */
.Portfolio {
    padding: 222px 0;
    position: relative;
    background-image: url(../images/project.png);
    background-size: cover;
    background-position: center center;
}

.Portfolio .box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.Portfolio .box h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 24px;
}
.Portfolio .box p {
    color: white;
    font-weight: 400;
    margin: 0;
}

.Portfolio .box .btn {
    margin-top: 35px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #08D9D6;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: -3px 6px 10px #01010133;
    height: 70px;
    padding: 0 45px;
    position: relative;
    z-index: 3;
}

.Portfolio .box .btn:hover {
    background-color: #04a3a2;
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px #01010155;
}

/* End Portfolio */
/* hi */