/* start variables  */
/* :root {

} */
/* End variables  */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

/* End Global Rules */

/* start components */

/* end components */

/* Start header */
header {
    padding: 100px 0;
    width: 100%;
    position: relative;
}
header .container {
    display: flex;
    align-items: center;
}

header .logo {
    width: 16%;
}
header .logo img {
    height: 54px;
    justify-content: center;
}

header::after {
    content: url(../images/Ellipse\ 1.png);
    position: absolute;
    top: 50%;
    right: -403px;
    transform: translatey(-50%);
    width: 820px;
    max-width: 100%;
    z-index: -1;
}

nav {
    flex: 1;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    position: relative;
    width: calc(100% - 16%);
}

nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #616161;
    font-weight: 500;
    transition: 0.3s;
}

@media (max-width: 1200px) {
    header .container nav a {
    font-size: 17px;
    }
    .main-btn {
        font-size: 17px;
    }
    header::after {
        right: -470px;
    }
}

.main-btn {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: #FF2E63;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: -3px 6px 10px #01010133;
    height: 70px;
    padding: 0 45px;
}
@media (max-width: 990px) {
    header::after {
        display: none;
    }
    nav ul{
        display: none !important;
    }
    .main-btn {
        display: none !important;
    }
    header .logo img {
        height: 45px;
    }
    nav .toggle-menu {
        font-size: 25px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    }
    nav .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: absolute;
        right: 0;
    }
    
    nav .icon span {
        background-color: #252A34;
        margin-bottom: 5px;
        height: 2px;
    }
    
    nav .icon span:nth-child(1) {
        width: 100%;
    }
    
    nav .icon span:nth-child(2) {
        width: 75%;
    }
    
    nav .icon span:nth-child(3) {
        width: 50%;
    }
    
    nav ul {
        margin: 0;
        padding-left: 10px;
        min-width: 200px;
        display: block;
        background-color: #f6f6f6;
        border-radius: 5px;
        box-shadow: -3px 6px 10px #01010133;
        position: absolute;
        right: 0;
        top: calc(100% + 15px);
        display: none;
        z-index: 1;
        
    }

    nav:hover ul {
        display: block !important;
    }

    nav a {
        transition: 0.5s;
    }

    nav ul a:hover {
        padding-left: 20px;
    }

    nav ul::before {
        content: "";
        border-width: 10px;
        border-color: transparent transparent #f6f6f6 transparent;
        border-style: solid;
        position: absolute;
        top: -20px;
        right: 5px;
    }
}


/* End header */
